# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore the content within specific folders
static/books/*
static/audiobooks/*
static/speakers/*
static/rvcModels/*
static/index/*

# Allow the folders themselves
!static/books/
!static/audiobooks/
!static/speakers/
!static/rvcModels/
!static/index/

# Ignore the 'test' folder and its content
test/

# Ignore python venv
API/venv
API/__pycache__
API/*.pt
API/ffmpeg.exe